<footer class="footer py-4  ">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col">
          <div class="copyright text-center text-sm text-muted">
            © <script>
              document.write(new Date().getFullYear())
            </script>,
            
            <a href="?" class="font-weight-bold">DREMO</a> - 
            Dirección Regional de Educación - Moquegua.
          </div>
        </div>
        
      </div>
    </div>
  </footer>