<!-- src/app/cursos/cursos.component.html -->

<div class="row">
    <h3>Cursos encontrados para:
        <span class="text-danger">{{ filtro }}</span>
    </h3>
</div>
<div class="row mt-4">
    <ng-container *ngIf="cursos.length > 0; else noCursos">
        <div class="col-lg-4 col-md-6 mt-4 mb-4" *ngFor="let curso of cursos">
            <div class="card z-index-2">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                    <div class="bg-gradient-secondary shadow-primary border-radius-lg py-3 pe-1">
                        <div class="chart">
                            <img class="card-img-top" src="./assets/img/products/{{ curso.imagen }}" alt="imagen" height="170">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="mb-0">{{ curso.titulo }}</h6>
                    <p class="text-sm">{{ curso.descripcion }}</p>
                    <hr class="dark horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="d-flex">
                                <i class="material-icons text-sm my-auto me-1">schedule</i>
                                <p class="mb-0 text-sm">Última actualización: {{ curso.actualizacion }}</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-dark detalles" (click)="mostrarDetalles(curso.id)">
                                Detalles
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <a routerLink="['/matricular', curso.id]" class="btn btn-primary">
                                Comenzar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noCursos>
        <h2 class="mb-0">No se encontraron coincidencias</h2>
    </ng-template>
</div>
