<app-nav></app-nav>
<div class="col-sm-12 col-md-12">
    <div class="card">
        <h6 class="card-header">.:: <i class="fas fa-binoculars"></i> VISTA DE EVALUACIONES</h6>
        <div class="card-body respuestagp">
            <div class="form-row">
                <div class="form-group col-md-12">

                    <table class="table table-sm table-bordered  table-striped table-hover">
                        <thead class="tablatitulo">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">NOMBRE</th>
                                <th scope="col">DESCRIPCION</th>
                                <th scope="col">FECHA DE CREACIÓN</th>
                                <th scope="col">DATOS</th>
                                <th scope="col">OPCIONES</th>
                            </tr>
                        </thead>
                        <tbody class="tablacontenido">
                            <tr *ngFor="let evaluacion of evaluaciones; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ evaluacion.descripcion }}</td>
                                <td>{{ evaluacion.comentario }}</td>
                                <td class="text-center">{{ evaluacion.fecha }}</td>
                                <td class="text-center">{{ evaluacion.total }}</td>
                                <td>
                                    <button type="button" title="Visible" class="btn btn-light-danger btn-sm visible">
                                        <i class="far" ngClass="{'fa-eye blue': evaluacion.visible, 'fa-eye-slash rojo': !evaluacion.visible}"></i>
                                    </button>
                                    <button type="button" title="Cerrar" class="btn btn-light-danger btn-sm estadoc">
                                        <i class="fas" ngClass="{'fa-lock-open blue': evaluacion.estado, 'fa-lock rojo': !evaluacion.estado}"></i>
                                    </button>
                                    <button type="button" title="Editar" class="btn btn-light-danger btn-sm editar">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button" title="Eliminar" class="btn btn-light-danger btn-sm eliminarnew">
                                        <i class="fas fa-trash-alt"></i> Eliminar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
