<nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #126dc7; box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%)">
    <a class="navbar-brand" routerLink="/">
        <img src="./assets/img/logos/logoDRE_blanco.png" height="30" class="d-inline-block align-top" alt="">
        .:: DREMO ::.
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-menu" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- Evaluación Dropdown -->
            <li class="nav-item dropdown">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle letramenu" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i> Evaluación
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item xLink" routerLink="/crearevaluacion"><i class="fab fa-creative-commons-share"></i> Crear Evaluación</a></li>
                        <li><a class="dropdown-item xLink" href="/vistaevaluacion"><i class="fas fa-binoculars"></i> Vista Evaluaciones</a></li>
                        <li><a class="dropdown-item xLink" routerLink="/importevaluacion"><i class="fas fa-cloud-upload-alt"></i> Importar Datos</a></li>
                        <li><a class="dropdown-item xLink" href="#"><i class="fas fa-database"></i> Datos</a></li>
                        <li><a class="dropdown-item xLink" href="#"><i class="fas fa-cogs"></i> Consolidado de Registros</a></li>
                        <li><a class="dropdown-item xLink" href="#"><i class="fas fa-cogs"></i> Consolidados por Áreas</a></li>
                        <li><a class="dropdown-item xLink" href="#"><i class="fas fa-cogs"></i> % de Áreas</a></li>
                        <li><a class="dropdown-item xLink" href="#"><i class="fas fa-cogs"></i> Total Estudiantes</a></li>
                    </ul>
                </div>
            </li>

            <!-- Cuadernillo Dropdown -->
            <li class="nav-item dropdown">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle letramenu" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-cog"></i> Cuadernillo
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item xLink" href="#">
                                <i class="fab fa-creative-commons-share"></i> Crear Cuadernillo</a></li>
                        <li><a class="dropdown-item xLink" href="#">
                                <i class="fas fa-cloud-upload-alt"></i> Consulta Cuadernillo</a></li>
                    </ul>
                </div>
            </li>

            <!-- Usuarios Dropdown -->
            <li class="nav-item dropdown">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle letramenu" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-user"></i> Usuarios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item xLink" href="#">
                            <i class="fas fa-user-alt"></i> Registro</a>
                        <a class="dropdown-item xLink" href="#">
                            <i class="fas fa-clipboard-list"></i> Información</a>
                        <a class="dropdown-item xLink" href="#">
                            <i class="fas fa-users"></i> Vista Usuarios</a>
                    </div>
                </div>
            </li>

            <!-- Matriz Dropdown -->
            <li class="nav-item dropdown">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle letramenu" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-bezier-curve"></i> Matriz
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item xLink" href="#">
                            <i class="fas fa-bezier-curve"></i> Crear Matriz</a>
                        <a class="dropdown-item xLink" href="#">
                            <i class="fas fa-binoculars"></i> Ver</a>
                        <a class="dropdown-item xLink" href="#">
                            <i class="fas fa-list-ol"></i> Listado</a>
                    </div>
                </div>
            </li>

            <!-- Logro Dropdown -->
            <li class="nav-item dropdown">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle letramenu" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-clipboard-list"></i> Logro
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item xLink" href="#">
                            <i class="fas fa-clipboard-list"></i> Crear Logro</a>
                        <a class="dropdown-item xLink" href="#">
                            <i class="fas fa-list-ol"></i> Listado</a>
                    </div>
                </div>
            </li>

            <!-- Informes Dropdown -->
            <li class="nav-item dropdown">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle letramenu" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                        <i class="far fa-address-book"></i> Informes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item xLink" href="#">
                            <i class="far fa-file-alt"></i> Respuestas</a>
                        <a class="dropdown-item xLink" href="#">
                            <i class="fas fa-clipboard-check"></i> I.E.</a>
                        <a class="dropdown-item xLink" href="#">
                            <i class="fas fa-map-marked-alt"></i> Distritos</a>
                    </div>
                </div>
            </li>

            <!-- Comparar Dropdown -->
            <li class="nav-item dropdown">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle letramenu" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fas fa-not-equal"></i> Comparar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">
                            <i class="far fa-calendar-alt"></i> Por Año</a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cogs"></i> Por Evaluación</a>
                    </div>
                </div>
            </li>
        </ul>

        <!-- Usuario Dropdown -->
        <div class="dropdown text-usuario">
            <button class="btn btn-outline-light dropdown-toggle letramenub" type="button" data-toggle="dropdown"
                    aria-expanded="false">
                <i class="fas fa-user"></i>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item cambiarclave" href="/loginant">
                        Contraseña
                    </a>
                    <a class="dropdown-item" href="/login">
                        Salir
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Modal Cambiar Contraseña -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modeldi">
                <h5 class="modal-title col-12">
                    Cambiar Contraseña
                </h5>
            </div>
            <div id="respuestaerrgclave">
                <form name="formulario-clavenueva" id="formulario-clavenueva" enctype="multipart/form-data"
                      method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="claveanterior">Contraseña Anterior:</label>
                            <input type="password" class="form-control" id="claveanterior" name="claveanterior">
                        </div>
                        <div class="form-group">
                            <label for="nuactuclave">Nueva Contraseña:</label>
                            <input type="password" class="form-control" id="nuactuclave" name="nuactuclave">
                        </div>
                        <div class="form-group">
                            <label for="renuactuclave">Repita Nueva Contraseña:</label>
                            <input type="password" class="form-control" id="renuactuclave" name="renuactuclave">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="enviar">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>


